@font-face {
  font-family: 'Avenir LT Std 55 Roman';
  font-size: small;
  font-style: normal;
  font-weight: lighter;
  src: local('Avenir LT Std 55 Roman'), url('../fonts/AvenirLTStd-Light.woff') format('woff');
}

*{
  font-family: 'Avenir LT Std 55 Roman';
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  /* border: red dotted 1px; */
}
body{
  width: 100%;
  /* height: 100vh; */
  
}
main.main{
  height: 1500px;
  display: block;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgb(11, 11, 51) 25%, rgb(7, 45, 126) 100%);

}

main.main.inlarge{
  height: 1600px;
}

.formContainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.inputs{
  background-color: rgb(255, 255, 255);
  padding: 0 20px;
  width: 700px;
  height: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 18px 0 #000;
  border-radius: 10px;
}

.inputs>h1{
  font-size: 36px;
  padding-bottom: 30px;
}

.inputInfo{
  width: 100%;
  height: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 40px;
}

.inputInfo > div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.inputInfo input, .inputInfo select, .status{
  border: none;
  border-bottom: 2px solid rgb(11, 11, 51);
  width: 100%;
  font-size: 18px;
  padding-left: 5px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.014);
}
label{
  text-transform: uppercase;
  padding-bottom: 10px;
  & p{
    display: inline;
    vertical-align: middle;
    padding: 0 10px;
    font-size: 12px;
  }
}
input#file-upload-button{
  opacity: 0;
}
input[type="tel"]:focus:valid,
input[type="email"]:focus:valid,
input[type="file"]:focus:valid
{
  background-color: rgba(0, 255, 0, 0.308);
}
input[type="tel"]:focus:invalid,
input[type="email"]:focus:invalid
{
  background-color: rgba(255, 0, 0, 0.308);
}

.inputInfo input:focus, 
.inputInfo select:focus, 
.status.active,
.status.active + ul{
  outline: none;
  transform: scale(1.05);
  font-size: 20px;

}

.status.active + ul{
  display: block;
}

.status{
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0 2px 5px;
}

.status + ul {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}
.dep{ 
  padding: 10px;
}
.dep:hover{
  background-color: rgb(51, 51, 162);
  color: #fff;
  cursor: pointer;
}


input[type="text"]{
  text-transform: capitalize;
}

div.email,
div.deg
{
  grid-column: span 2;
}

div.deg{
  display: none;
}

.pageBreaker{
  padding-top: 20px;
  grid-column: span 2;
  position: relative;
  /* display: block; */
  border-bottom: 3px solid rgb(11, 11, 51);
  /* border-top: 2px dotted rgb(11, 11, 51); */

  & .help{
    line-height: 1.5;
    width: 100%;
    background-color: #d3d3d3;
    border-radius: 10px;
    color: #727272;
    overflow: hidden;
    padding: 2px 10px;
    margin: 10px 0;
    & p:nth-child(2){
      padding-left: 20px;
    }
  }
}




div.department{
  grid-column: span 2;
  & #department{
    padding: 10px;
    resize: none;
    font-size: 24px;
  }
}

input[type="submit"]{
  margin-top: 20px;
  width: 80%;
  background-color: rgb(11, 11, 51);
  color: #fff;
  font-size: 20px;
  border: 10px solid rgb(11, 11, 51);
  border-radius: 10px;
  margin-bottom: 20px;
  
}
