@media screen and (max-width: 1070px){
  .secondContent{
    height: 800px;
  }
  .fourthContent{
    height: 1180px;
    display: flex;
    text-align: center;
    position: relative;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
  }

  .programs{
    height: 45%;
    width: 80%;
  }
    
  .rightNavLists{
    display: none;
  }
  .rightHeader{
    width: 40px !important;
    height: 36px;
    /* border: 2px solid #fff; */
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
  }

  #menuBar{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  #menuBar div{
    background-color: #fff;
    width: 40px;
    height: 2px;
  }

  .newsSection{
    height: 1800px;

  }
  .newsContent{
    display: flex;
    /* text-align: center; */
    /* position: relative; */
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
  }

  .news{
    height: 30%;
    width: 80%;
  }

  .introText{
    width: 100%;
  }

}

@media screen and (max-width: 952px){
 
  /* .secondContent{
    height: 1020px;
  } */
  .submitSection{
    height: 800px;
    display: block;
    flex-flow: column wrap;
    justify-content: center;

  }
  .submitInfo{
    width: 100%;
    height: 40%;
  }
  .inputs{
    height: 700px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .inputInfo{
    display: block;
    width: 50%;
  }
  
}

@media screen and (max-width: 767px) {
  .contentImg{
    display: none;
  }
  .secondContent{
    height: 1500px;
  }
  .blockcontent{
    height: 100px;
  }
  .content{
    width: 80%;
  }
  
  .rightHeader{
    width: 40px !important;
  }
}