@font-face {
  font-family: 'Avenir LT Std 55 Roman';
  font-size: small;
  font-style: normal;
  font-weight: lighter;
  src: local('Avenir LT Std 55 Roman'), url('../fonts/AvenirLTStd-Light.woff') format('woff');
}

*{
  font-family: 'Avenir LT Std 55 Roman';
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  /* border: red dotted 1px; */
}
body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgb(11, 11, 51) 25%, rgb(7, 45, 126) 100%);
}

.inputs{
  background-color: rgba(255, 255, 255, 0.793);
  padding: 0 20px;
  width: 608px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.inputs>h1{
  font-size: 36px;
}

.inputInfo{
  width: 100%;
  height: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 40px;
}

.inputInfo > div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.inputInfo input, .inputInfo select, .status{
  border: none;
  border-bottom: 2px solid rgb(11, 11, 51);
  width: 100%;
  font-size: 18px;
  padding-left: 5px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.014);
}

.inputInfo input:focus, 
.inputInfo select:focus{
  outline: none;
  transform: scale(1.05);
  font-size: 20px;

}

input[type="text"]{
  text-transform: capitalize;

}

input[type="submit"]{
  margin-top: 20px;
  width: 80%;
  background-color: rgb(11, 11, 51);
  color: #fff;
  font-size: 20px;
  border: 10px solid rgb(11, 11, 51);
  border-radius: 10px;
  margin-bottom: 20px;
  
}